

.header img {
    width: 100vw;
}
// makes navBar stick to top but sets it behind everything below it when scrolling.
.sticky-nav {
    position: sticky;
    top: 0;
    opacity: .9;
    width: 100%;
    z-index: 10;
}
// .nav Container {
//     justify-content: center;
// }
.appbar {
    width: 100%;
    // position: sticky;
}

.appContainer {
    display: flex;
    // background-color: rgb(252, 226, 223);
    margin: auto;
    width: 80%;
    align-content: center;
}

// .colorBar {
//     background-color: gray;
//     width: 100%;
// } 
.body {
    margin: auto;
    margin: 25px;
    margin-left: center;
    width: 70%;
    height: auto;
    justify-content: center;
    // display: flex;
    // border: solid black 1px;
  }

.asideContainer {
    margin: 25px;
    width: 25%;
    height: auto;
    // border: solid black 1px;
    justify-content: center;
}

.homeText {
    margin-top: 3rem;
    padding: 2rem;
    // border: solid black 1px;
}


// .sideContainer {
//     margin: 10, 0;

//     border: solid rgb(170, 19, 19) 1px;
// }


// Card Styles
$radius: .5rem;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.head {
    display: flex;
    justify-content: start;
}

.wrapper {
    margin: 5rem;
    min-width: 27px;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    justify-content: center;
    // border: solid red 1px;
    flex-direction: row;
}


.card {
    box-shadow: 0 0 10px 5px lightgray;
    position: relative;
    border-radius: $radius;
    min-width: 28rem;
    max-height: 28rem;
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    // flex-direction: column;
    // margin: auto;
    grid-template-rows: 1fr;
    // border: solid hotpink 10px;
    // grid-template-columns: .25fr, .75fr;


    &__img {
        width: 100%;
        height: 14rem;
        object-fit: center;

        border-radius: $radius;
        // border: solid red 1px;
        display: flex;
        // margin-left: 8rem;
        // flex-direction: row;
        // border: solid rgb(236, 33, 33) 1px;
        grid-column: .4fr;

    }
    &__body {
        display: flex;
        margin: 40px;
        
        min-width: 14rem;
        flex-grow: 1;
        // border: solid rgb(43, 160, 238) 1px;
        align-items: center;
        grid-column: .6fr;
        // flex-direction: row;
    }
    &__title {
        line-height: 1.4rem;
        margin-bottom: 0.5rem;
        // justify-content: center;
    }
    &__description {
        line-height: 1.2rem;
    }
    &__btn {
        border: none;
        border-top: 1px solid gray;
        background-color: transparent;
        // font-family:   ;
        font-size: 1rem;
        font-weight: bold;
        color: inherit;
        width: 100%;
        padding-top: 1rem;
        margin-top: 1rem;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: blue;
            // background-color: lightcoral;
        }
    }
}
.burgerCard__body {
    margin-top: 1rem;
    padding: 2rem;
    // border: solid #ffc107 2px;

}

// Recipe Page 
.title {
    border: solid tomato 5px;
    justify-items: center;
}
.description {
    padding-top: 2rem;
}
.ingredients {
    border: solid tomato 5px;
}
.instructions {
    padding-top: 2rem;
}

// Blog posts
.blogBody {
    padding-top: 2rem;
}

// About Page
.authorsContainer {
    display: flex !important;
    flex-direction: row;
    width: 25% ;
    margin-top: 2rem;
    align-items: center;
}
.authors {
    justify-items: center;
}
.avatar {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    display: flex;
    border: solid #ffc107 2px;
}
.authorInfo {
    margin: .5rem;
    line-height: 1;
    // border: solid #ffc107 2px;
}



// Footer {
//     background-image: src="./assets/FooterG.jpg";
// }